<a href="https://colab.research.google.com/github/axgervais/AI-Python/blob/main/Projet_apprentissage_non_supervis%C3%A9_ag.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Étape 1 : Exploration des Données

In [2]:
import pandas as pd

# Chargement du dataset
df = pd.read_excel('/content/Online Retail.xlsx')

# Aperçu de la structure générale des données
print(df.head())

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

In [4]:
print(df.describe())

            Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

In [5]:
# Vérification des valeurs manquantes par colonne
missing_values = df.isnull().sum()
print("Valeurs manquantes par colonne :\n", missing_values)

Valeurs manquantes par colonne :
 InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [11]:
# Détection des anomalies potentielles, par exemple dans les variables quantitatives
# On examine les colonnes pertinentes pour identifier des valeurs atypiques
print("Valeurs aberrantes potentielles :")
print(df.describe())  # Statistiques pour repérer des valeurs inhabituelles

Valeurs aberrantes potentielles :
            Quantity                    InvoiceDate      UnitPrice  \
count  541909.000000                         541909  541909.000000
mean        9.552250  2011-07-04 13:34:57.156386048       4.611114
min    -80995.000000            2010-12-01 08:26:00  -11062.060000
25%         1.000000            2011-03-28 11:34:00       1.250000
50%         3.000000            2011-07-19 17:17:00       2.080000
75%        10.000000            2011-10-19 11:27:00       4.130000
max     80995.000000            2011-12-09 12:50:00   38970.000000
std       218.081158                            NaN      96.759853

          CustomerID
count  406829.000000
mean    15287.690570
min     12346.000000
25%     13953.000000
50%     15152.000000
75%     16791.000000
max     18287.000000
std      1713.600303

Étape 2 : Prétraitement des Données

In [7]:
# Suppression des lignes sans CustomerID
df_cleaned = df.dropna(subset=['CustomerID'])

# Suppression des lignes sans Description
df_cleaned = df_cleaned.dropna(subset=['Description'])

In [8]:
# Filtrer les transactions avec des valeurs de Quantity et UnitPrice positives
df_cleaned = df_cleaned[(df_cleaned['Quantity'] > 0) & (df_cleaned['UnitPrice'] > 0)]

In [12]:
# Création de la variable TotalAmount
df_cleaned['TotalAmount'] = df_cleaned['Quantity'] * df_cleaned['UnitPrice']

In [14]:
df_cleaned

,Quantity,UnitPrice,CustomerID,TotalAmount,Country_Austria,Country_Bahrain,Country_Belgium,Country_Brazil,Country_Canada,Country_Channel Islands,...,Country_RSA,Country_Saudi Arabia,Country_Singapore,Country_Spain,Country_Sweden,Country_Switzerland,Country_USA,Country_United Arab Emirates,Country_United Kingdom,Country_Unspecified
0,6,2.55,17850.0,15.30,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,6,3.39,17850.0,20.34,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
2,8,2.75,17850.0,22.00,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,6,3.39,17850.0,20.34,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
4,6,3.39,17850.0,20.34,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541904,12,0.85,12680.0,10.20,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
541905,6,2.10,12680.0,12.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
541906,4,4.15,12680.0,16.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
541907,4,4.15,12680.0,16.60,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
541908,3,4.95,12680.0,14.85,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Étape 3 : Création des Variables pour la Segmentation (Feature Engineering)